.info-icon {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  color: #005eff;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 180px;
  background-color: #1f2937;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 6px 8px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.75rem;
}

.info-icon:hover .tooltip-text,
.info-icon:active .tooltip-text {
  visibility: visible;
  opacity: 1;
}